{% extends "user_base.html" %}

{% block title %} My Orders {% endblock  %}

{% block content  %}

 <p class="text-[#111718] tracking-light text-[32px] font-bold leading-tight min-w-72" >
  My Orders
</p>
            
            {% if orders %}

    <div class="flex flex-col gap-6">

      {% for order in orders %}

      <div class="bg-white border border-[#e8eef2] rounded-2xl p-6 shadow-sm">

        <!-- TOP -->
        <div class="flex flex-wrap justify-between gap-6 border-b border-[#e8eef2] pb-4">

          <div>
            <p class="text-sm text-[#6f7b74]">
              Order ID
            </p>

            <p class="font-bold text-[#131514]">
              {{ order.order_id }}
            </p>
          </div>

          <div>
            <p class="text-sm text-[#6f7b74]">
              Order Date
            </p>

            <p class="font-medium text-[#131514]">
              {{ order.created_at|date:"d M Y, h:i A" }}
            </p>
          </div>

          <div>
            <p class="text-sm text-[#6f7b74]">
              Total Amount
            </p>

            <p class="font-bold text-[#131514]">
              ₹{{ order.total_amount }}
            </p>
          </div>

          <div>
            <p class="text-sm text-[#6f7b74]">
              Status
            </p>
            <span class="inline-flex items-center px-3 py-1 rounded-full text-sm font-semibold
                {% if order.status|lower == 'delivered' %}
                  bg-green-100 text-green-700
                {% elif order.status|lower == 'cancelled' %}
                  bg-red-100 text-red-700
                {% elif order.status|lower == 'returned' %}
                  bg-yellow-100 text-yellow-700
                {% elif order.status|lower == 'shipped' %}
                  bg-blue-100 text-blue-700
                {% else %}
                  bg-yellow-100 text-yellow-700
                {% endif %}
              ">
                {{ order.status }}
            </span>
          </div>
        </div>
        <!-- PRODUCTS -->
        <div class="pt-5 flex flex-col gap-4">

          {% for item in order.items.all %}

          <div class="flex items-center gap-4">

            <img
              src="{{ item.product.image.url }}"
              class="w-20 h-20 object-cover rounded-xl border"
            >

            <div class="flex-1">

              <p class="font-bold text-[#131514]">
                {{ item.product_name }}
              </p>

              <p class="text-sm text-[#6f7b74]">
                {{ item.variant_size }} |
                {{ item.variant_color }}
              </p>

              <p class="text-sm text-[#6f7b74]">
                Quantity: {{ item.quantity }}
              </p>

            </div>

            <p class="font-bold text-[#131514]">
             Amount:  ₹{{ item.product.offer_price }}
            </p>
          </br><p class="font-text-[#131514]">
             Shipping:  ₹{{ order.shipping_charge }}
            </p>

          </div>

          {% endfor %}

        </div>

        <!-- BUTTONS -->
        <div class="flex gap-3 mt-6">
          <a
            href="{% url 'order_details' order.order_id %}"
            class="px-5 h-10 inline-flex items-center justify-center rounded-lg bg-[#26402f] text-white text-sm font-bold"
          >
            View Details
          </a>
          {% if order.status|lower != 'cancelled' and order.status|lower != 'delivered' and order.status|lower != 'returned' %}
          <a
            href="{% url 'cancel_order' order.order_id %}"
            class="px-5 h-10 inline-flex items-center justify-center rounded-lg bg-red-50 text-red-600 text-sm font-bold"
          >
            Cancel Order
          </a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="bg-white border border-[#e8eef2] rounded-2xl p-10 text-center">

      <h2 class="text-2xl font-bold text-[#131514] mb-3">
        No Orders Yet
      </h2>

      <p class="text-[#6f7b74] mb-6">
        Start shopping to place your first order.
      </p>

      <a
        href="{% url 'user_product_list' %}"
        class="inline-flex items-center justify-center rounded-lg h-11 px-6 bg-[#26402f] text-white font-bold"
      >
        Continue Shopping
      </a>

    </div>

  {% endif %}
            
              
{% endblock %}