# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
pip-wheel-metadata/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media files
media/

# Static files collected by collectstatic
staticfiles/

# Environment variables
.env
.env.*

# Virtual environments
venv/
ENV/
env/
myenv/

# VS Code
.vscode/

# IDEs and editors
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# PyInstaller
*.manifest
*.spec

# Celery
celerybeat-schedule

# Sphinx
docs/_build/
