{% extends 'admin_base.html' %}
{% block title %} Add Variant {% endblock %}
{% block content %}
          
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">

  <!-- Header -->
  <div class="flex flex-wrap justify-between gap-3 p-4">
    <p class="text-white tracking-light text-[32px] font-bold leading-tight min-w-72">
      Add Variant
    </p>

    <a href="{% url 'products:product_details' product.uuid %}"
       class="flex min-w-[84px] items-center justify-center rounded-lg h-10 px-4 bg-[#25463b] text-white text-sm font-bold">
      Back
    </a>
  </div>

  <!-- Main Layout -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 p-4">

    <!-- LEFT SIDE : Product Images -->
    <div class="flex flex-col gap-4">

      <!-- Main Image -->
      <div class="bg-[#1a322a] p-3 rounded-xl shadow-md">
        {% if product.image %}
        <img id="mainImage"
             src="{{ product.image.url }}"
             class="w-full h-[400px] object-contain rounded-lg transition duration-300">
        {% else %}
        <p class="text-red-400">No main image</p>
        {% endif %}
      </div>

      <!-- Gallery -->
      <div class="grid grid-cols-4 gap-3">
        {% for img in product.images.all %}
        <div class="bg-[#1a322a] p-2 rounded-lg hover:scale-105 transition duration-200 cursor-pointer border border-[#356454]">
          <img src="{{ img.image.url }}"
               class="w-full h-20 object-cover rounded"
               onclick="changeMainImage(this)">
        </div>
        {% empty %}
        <p class="text-red-400">No gallery images</p>
        {% endfor %}
      </div>

    </div>

    <!-- RIGHT SIDE : Variant Form -->
    <div class="bg-[#1a322a] rounded-xl p-6 shadow-md border border-[#356454]">

      <h2 class="text-white text-xl font-bold mb-6">
        Select Size, Color & Stock
      </h2>

      <form method="POST" class="space-y-4">
        {% csrf_token %}

        <div>
          <label class="block text-sm font-medium text-[#92c9b7] mb-2">Size</label>
          {{ form.size }}
        </div>

        <div>
          <label class="block text-sm font-medium text-[#92c9b7] mb-2">Color</label>
          {{ form.color }}
        </div>

        <div>
          <label class="block text-sm font-medium text-[#92c9b7] mb-2">Stock</label>
          {{ form.stock }}
        </div>

        <button type="submit"
          class="w-full bg-[#10b77f] text-[#11221c] font-bold py-3 rounded-lg hover:bg-[#0ea56f] transition">
          Add Variant
        </button>
      </form>

    </div>

  </div>
</div>

         <script>
function changeMainImage(element) {
    document.getElementById("mainImage").src = element.src;
}
</script>


{% endblock %}