{% extends 'admin_base.html' %}
{% block title %} Edit Product  {% endblock %}
{% block content %}
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
             {% if messages %}
              <div id="message-container" class="px-4 pt-4">
                {% for message in messages %}
                <div
                  class="mb-3 p-3 rounded-lg text-white {% if message.tags == 'success' %} bg-green-600 {% elif message.tags == 'error' %} bg-red-600 {% else %} bg-gray-600 {% endif %}"
                >
                  {{ message }}
                </div>
                {% endfor %}
              </div>
              {% endif %}
            {% if form.errors %}
            <div class="text-red-500 px-4">
            {{ form.errors }}
            </div>
            {% endif %}
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="flex flex-wrap justify-between gap-3 p-4"><p class="text-white tracking-light text-[32px] font-bold leading-tight min-w-72">Edit Product</p></div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-white text-base font-medium leading-normal pb-2">Product Name</p>
                <input
                  name="product_name"
                  placeholder="Enter product name"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border border-[#356454] bg-[#1a322a] focus:border-[#356454] h-14 placeholder:text-[#94c7b6] p-[15px] text-base font-normal leading-normal"
                  value="{{ form.product_name.value|default:'' }}"
                />
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-white text-base font-medium leading-normal pb-2">Slug</p>
                <input
                  name="slug"
                  placeholder="Enter slug feild"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border border-[#356454] bg-[#1a322a] focus:border-[#356454] h-14 placeholder:text-[#94c7b6] p-[15px] text-base font-normal leading-normal"
                  value="{{ form.slug.value|default:'' }}"
                />
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-white text-base font-medium leading-normal pb-2">Price</p>
                <input
                  type="number"
                  name="base_price"
                  placeholder="Enter price"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border border-[#356454] bg-[#1a322a] focus:border-[#356454] h-14 placeholder:text-[#94c7b6] p-[15px] text-base font-normal leading-normal"
                  value="{{ form.base_price.value|default:'' }}"
                />
              </label>
            </div>
                        
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-white text-base font-medium leading-normal pb-2">Category</p>
               <select
                  name="category"
                  required
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border border-[#356454] bg-[#1a322a] focus:border-[#356454] h-14 bg-[image:--select-button-svg] placeholder:text-[#94c7b6] p-[15px] text-base font-normal leading-normal"
                >
                  <option value="">Select Category</option>
                  {% for category in categories %}
                  <option value="{{ category.id }}"
                    {% if form.category.value|stringformat:"s" == category.id|stringformat:"s" %}
                    selected
                    {% endif %}
                  >
                    {{category.name}}                 
                  </option>
                  {% endfor %}
                </select>
              </label>
            </div>
            
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-white text-base font-medium leading-normal pb-2">Product Description</p>
                <textarea
                  name="description"
                  placeholder="Enter product description"
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border border-[#356454] bg-[#1a322a] focus:border-[#356454] min-h-36 placeholder:text-[#94c7b6] p-[15px] text-base font-normal leading-normal"
                >{{ form.description.value|default:'' }}</textarea>
              </label>
            </div>
            <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Product Images</h2>
            <div class="flex flex-col p-4">
              <div class="flex flex-col p-4">
             <div class="rounded-lg border-2 border-dashed border-[#356454] px-6 py-8">

               {% if product.image %}
                <div class="w-full flex flex-col items-center mb-6">
                <p class="text-white mb-2 font-medium">Current Main Image:</p>
                <img src="{{ product.image.url }}" class="w-48 h-48 object-cover rounded-lg border-2 border-[#356454] shadow-md">
                 </div>
                 {% endif %}

                <div class="text-center">
                 <p class="text-white text-lg font-bold">Upload New Main Image</p>
                <input type="file" name="image" accept="image/*" class="mt-4 text-white">
               </div>

             </div>
            </div>
            </div>
            <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Gallery Images</h2>
            <div class="flex flex-col p-4">
              <div class="flex flex-col p-4">
      <div class="rounded-lg border-2 border-dashed border-[#356454] px-6 py-8">

        {% if gallery_images %}
        <div class="w-full mb-6">
          <p class="text-white mb-3 font-medium text-center">Current Gallery Images:</p>
          <div class="flex flex-wrap justify-center gap-4">
          {% for img in gallery_images %}
          <div class="flex flex-col items-center">
            <img
              src="{{ img.image.url }}"
              class="w-32 h-32 object-cover rounded-lg border border-[#356454]"
            >
            <input
              type="file"
              name="gallery_image_{{ img.id }}"
              class="mt-2 text-white text-sm"
            >
            <input
              type="hidden"
              name="gallery_image_id"
              value="{{ img.id }}"
            >
            <label class="text-red-500 mt-2">
            <input type="checkbox"
                  name="delete_gallery_images"
                  value="{{ img.id }}">
            Delete
            </label>
        </div>
        {% endfor %}
        </div>
        </div>
        {% endif %}

    <div class="text-center">
      <input
    type="file"
    name="new_gallery_images"
    multiple
>
    </div>

        </div>
      </div>
        </div>        
            <div class="flex justify-stretch">
              <div class="flex flex-1 gap-3 flex-wrap px-4 py-3 justify-end">
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#107f5a] text-white text-sm font-bold leading-normal tracking-[0.015em]"
                >
                  <span class="truncate">Apply</span>
                </button>
                <a href="{% url 'products:product_list' %}"
                class="flex min-w-[84px] items-center justify-center rounded-lg h-10 px-4 bg-[#25463b] text-white text-sm font-bold">
                Cancel
                </a>
              </div>
            </div>
          </form>
          </div>
     
    <script>
  setTimeout(() => {
    const messageBox = document.getElementById("message-container");
    if (messageBox) {
      messageBox.style.transition = "opacity 0.5s ease";
      messageBox.style.opacity = "0";
      setTimeout(() => {
        messageBox.remove();
      }, 500);
    }
  }, 5000);
  </script>
    <script src="https://unpkg.com/cropperjs"></script>
{% endblock %}