{% extends "user_base.html" %}
{% block title %} 404 {% endblock %}
{% block content %}
        <dss="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <h1 class="text-[#141515] tracking-light text-[32px] font-bold leading-tight px-4 text-center pb-3 pt-6">404</h1>
            <div class="flex w-full grow bg-white @container p-4">
              
            </div>
            <h2 class="text-[#141515] tracking-light text-[28px] font-bold leading-tight px-4 text-center pb-3 pt-5">Oops! Page not found</h2>
            <p class="text-[#141515] text-base font-normal leading-normal pb-3 pt-1 px-4 text-center">The link you followed may be broken, or the page may have been removed.</p>
            <div class="flex px-4 py-3 justify-center">
              <a href="{% url 'home' %}">
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#1e272e] text-white text-sm font-bold leading-normal tracking-[0.015em]"
              >
                <span class="truncate">Back to Home</span>
              </button>
            </a>
            </div>
          </div>
        </div>
{% endblock %}
