{% extends "user_base.html" %}
{% block title %} Payment {% endblock %}
{% block content %}

          <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

          <button id="pay-btn">
            Pay Now
          </button>

          <script>

var options = {

    key: "{{ razorpay_key }}",

    amount: "{{ amount }}",

    currency: "INR",

    name: "MyShoes",

    description: "Order Payment",

    order_id: "{{ razorpay_order_id }}",

    handler: function (response) {

        fetch("{% url 'verify_payment' %}", {

            method: "POST",

            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}"
            },

            body: JSON.stringify({

                order_id: "{{ order.id }}",

                razorpay_order_id: response.razorpay_order_id,

                razorpay_payment_id: response.razorpay_payment_id,

                razorpay_signature: response.razorpay_signature

            })

        })

        .then(res => res.json())

        .then(data => {

            if (data.status === "success") {

                window.location.href = data.redirect_url;

            }

            else {

                alert(data.message || "Payment Failed");

                window.location.href = data.redirect_url;

            }

        })

        .catch(error => {

            console.log(error);

            alert("Payment Verification Failed");

        });

    },

    theme: {

        color: "#3399cc"

    }

};

var rzp = new Razorpay(options);

rzp.on('payment.failed', function (response) {

    alert("Payment Failed");

   window.location.href = "{% url 'payment_failed' order.id %}";

});

document.getElementById("pay-btn").onclick = function (e) {

    rzp.open();

    e.preventDefault();

};

window.onload = function () {
    rzp.open();
};

</script>
            
{% endblock %}          