{% extends "admin_base.html" %}
{% block title %} Category List {% endblock  %}
{% block  content %}
    <!-- Main Content -->
    <main class="flex-1 p-8 overflow-y-auto">
      <div class="flex items-center justify-between mb-8">
        <div>
          <h2 class="text-white text-3xl font-bold">Category List</h2>
         </div>
        <a href={% url 'add_category'%}>
          <button class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#10b77f] text-[#11221c] text-sm font-bold leading-normal tracking-[0.015em]"
          >
          <span class="truncate">Add New Category</span>
        </button>
        </a>
      </div>      
          <div class="px-4 py-3 @container">
              <div class="flex overflow-hidden rounded-lg border border-[#39564a] bg-[#101815]">
                <table class="flex-1">
                  <thead>
                    <tr class="bg-[#1b2822]">
                      <th class="table-026f8c07-3785-4d63-9c68-9f8a974bba26-column-120 px-4 py-3 text-left text-white w-[400px] text-sm font-medium leading-normal">Category ID</th>
                      <th class="table-026f8c07-3785-4d63-9c68-9f8a974bba26-column-176 px-4 py-3 text-left text-white w-14 text-sm font-medium leading-normal">Category Image</th>
                      <th class="table-026f8c07-3785-4d63-9c68-9f8a974bba26-column-296 px-4 py-3 text-left text-white w-[400px] text-sm font-medium leading-normal">
                        Category Name
                      </th>
                      <th class="table-026f8c07-3785-4d63-9c68-9f8a974bba26-column-416 px-4 py-3 text-left text-white w-[400px] text-sm font-medium leading-normal">
                        Number of Products
                      </th>
                      <th class="table-026f8c07-3785-4d63-9c68-9f8a974bba26-column-536 px-4 py-3 text-left text-white w-60 text-sm font-medium leading-normal">Status</th>
                      <th class="table-026f8c07-3785-4d63-9c68-9f8a974bba26-column-656 px-4 py-3 text-left text-white w-60 text-[#9abcae] text-sm font-medium leading-normal">
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody>  
                    {% for cat in page_obj %}
                    <tr class="border-t border-t-[#39564a]">
                      <td class="table-026f8c07-3785-4d63-9c68-9f8a974bba26-column-120 h-[72px] px-4 py-2 w-[400px] text-white text-sm font-normal leading-normal">{{cat.id}}</td>
                      <td class="table-026f8c07-3785-4d63-9c68-9f8a974bba26-column-176 h-[72px] px-4 py-2 w-14 text-sm font-normal leading-normal">
                        {% if cat.image %}
                        <img src="{{cat.image.url}}"
                        class="w-10 h-10 rounded-full object-cover"/>
                        {% else %}
                        <img src="http://via.placeholder.com/40"
                        class="w-10 h-10 rounded-full object-cover"/>
                        {% endif %}

                      </td>
                      <td class="table-026f8c07-3785-4d63-9c68-9f8a974bba26-column-296 h-[72px] px-4 py-2 w-[400px] text-[#9abcae] text-sm font-normal leading-normal">{{ cat.name }}</td>
                      <td class="table-026f8c07-3785-4d63-9c68-9f8a974bba26-column-416 h-[72px] px-4 py-2 w-[400px] text-[#9abcae] text-sm font-normal leading-normal">{{ cat.product_count }}</td>
                  <td class="table-026f8c07-3785-4d63-9c68-9f8a974bba26-column-536 h-[72px] px-4 py-2 w-60 text-sm font-medium leading-normal">
                        {% if cat.is_active %}
                        <span class="px-3 py-1 rounded-lg bg-green-600 text-white">Active</span>
                         {% else %}
                        <span class="px-3 py-1 rounded-lg bg-red-600 text-white">Inactive</span>
                        {% endif %}
                        </td>
                      <td class="table-026f8c07-3785-4d63-9c68-9f8a974bba26-column-656 h-[72px] px-4 py-2 w-60 text-sm font-bold leading-normal tracking-[0.015em] text-[#9abcae]">
  
                        <a href="{% url 'edit_category' cat.id %}" class="mr-2 text-blue-400">Edit</a>

                        <a href="{% url 'toggle_category_status' cat.id %}"
                          onclick="return confirm('Are you sure you want to change the category status?')"
                              class="text-yellow-400">
                            {% if cat.is_active %}
                             Disable
                            {% else %}
                             Enable
                               {% endif %}
                                  </a>

                      </td>
                    </tr>                   
                    {% endfor %}
                  </tbody>
                </table>               
              </div>
              <div class="flex justify-center items-center gap-2 mt-6 text-white">

            {% if page_obj.has_previous %}
            <a href="?page=1{% if query %}&q={{ query }}{% endif %}" class="px-3 py-1 bg-[#273a32] rounded">First</a>
            <a href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}" class="px-3 py-1 bg-[#273a32] rounded">Prev</a>
            {% endif %}

            <span class="px-3 py-1">
             Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}" class="px-3 py-1 bg-[#273a32] rounded">Next</a>
             <a href="?page={{ page_obj.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}" class="px-3 py-1 bg-[#273a32] rounded">Last</a>
            {% endif %}

            </div>
              
          </main>   
      </div>       
    </div>

    <script>
  setTimeout(function () {
    const messageBox = document.getElementById('message-box');

    if (messageBox) {

      // Smooth fade out
      messageBox.style.transition = "opacity 0.5s ease";

      messageBox.style.opacity = "0";

      // Remove completely after fade
      setTimeout(() => {
        messageBox.style.display = "none";
      }, 500);
    }

  }, 5000); // 5 seconds
</script>
   
    <script>
  const input = document.getElementById("searchInput");
  const clearBtn = document.getElementById("clearBtn");

  function toggleClearBtn() {
    if (input.value.trim() !== "") {
      clearBtn.classList.remove("hidden");
    } else {
      clearBtn.classList.add("hidden");
    }
  }

  function clearSearch() {
    input.value = "";
    input.form.submit();
  }

  input.addEventListener("input", toggleClearBtn);
  window.addEventListener("load", toggleClearBtn);
</script>

 {% endblock %}
